<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
    <f:layout name="Default" />
    <f:section name="content">
        <h1><f:translate key="tx_cartproductreader_categories" /> <f:translate key="tx_cartproductreader_list" /></h1>

        <f:flashMessages />

        <table class="tablelist" >
            <tr>
                <th><f:translate key="tx_cartproductreader_domain_model_category.title" /></th>
                <th><f:translate key="tx_cartproductreader_domain_model_category.folder_id" /></th>
                <th><f:translate key="tx_cartproductreader_domain_model_category.subcategories" /></th>
                <th></th>
            </tr>
            <f:for each="{categories}" as="category">
                <tr>
                    <td><f:link.action action="edit" arguments="{category : category}">{category.title}</f:link.action></td>
                    <td><f:link.action action="edit" arguments="{category : category}">{category.folderId}</f:link.action></td>
                    <td>
                        <f:link.action action="edit" arguments="{category : category}">{category.subcategories -> f:count()}</f:link.action>
                    </td>
                    <td class="btn-group">
                        <f:link.action class="btn btn-sm btn-default" action="edit" arguments="{category : category}"><f:translate key="tx_cartproductreader_edit" /></f:link.action>
                        <f:link.action class="btn btn-sm btn-danger" action="delete" arguments="{category : category}"><f:translate key="tx_cartproductreader_delete" /></f:link.action>
                    </td>
                </tr>
            </f:for>
        </table><br />
        <f:link.action class="btn btn-default" action="new"><f:translate key="tx_cartproductreader_newcategory" /></f:link.action>
    </f:section>
</html>