<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
    <f:layout name="Default" />
    <f:section name="content">
        <h1><f:translate key="tx_cartproductreader_maincategories" /> <f:translate key="tx_cartproductreader_list" /></h1>

        <f:flashMessages />

        <table class="tablelist" >
            <tr>
                <th><f:translate key="tx_cartproductreader_domain_model_category.title" /></th>
                <th><f:translate key="tx_cartproductreader_domain_model_category.folder_id" /></th>
                <th><f:translate key="tx_cartproductreader_categories" /></th>
                <th></th>
            </tr>            
            <f:for each="{maincategories}" as="maincategory">
                <f:debug>{maincategory}</f:debug>
                <tr>
                    <td><f:link.action action="show" arguments="{maincategory : maincategory}"> {maincategory.title}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{maincategory : maincategory}"> {maincategory.folderId}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{maincategory : maincategory}"> {maincategory.categories -> f:count()}</f:link.action></td>
                    <td class="btn-group">
                        <f:link.action class="btn btn-sm btn-default" action="edit" arguments="{maincategory : maincategory}"><f:translate key="tx_cartproductreader_edit" /></f:link.action>
                        <f:link.action class="btn btn-sm btn-danger" action="delete" arguments="{maincategory : maincategory}"><f:translate key="tx_cartproductreader_delete" /></f:link.action>
                    </td>
                </tr>
            </f:for>
        </table><br />
        <f:link.action class="btn btn-default" action="new"><f:translate key="tx_cartproductreader_newmaincategory" /></f:link.action>
    </f:section>
</html>