<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-cartproductreader" >
	<tr>
		<td>
			<f:translate key="tx_cartproductreader_domain_model_supplier.name" />
		</td>
		<td>
			{supplier.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cartproductreader_domain_model_supplier.street" />
		</td>
		<td>
			{supplier.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cartproductreader_domain_model_supplier.zipcode" />
		</td>
		<td>
			{supplier.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cartproductreader_domain_model_supplier.place" />
		</td>
		<td>
			{supplier.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cartproductreader_domain_model_supplier.country" />
		</td>
		<td>
			{supplier.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cartproductreader_domain_model_supplier.email" />
		</td>
		<td>
			{supplier.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cartproductreader_domain_model_supplier.telephone" />
		</td>
		<td>
			{supplier.telephone}
		</td>
	</tr>
</table>
</html>