<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <table class="tx-cartproductreader" >
        <tr>
            <td>
                <b><f:translate key="tx_cartproductreader_domain_model_supplier.name" /></b>
            </td>
            <td>
                {supplier.name}
            </td>
        </tr>
        <tr>
            <td>
                <b><f:translate key="tx_cartproductreader_domain_model_supplier.street" /></b>
            </td>
            <td>
                {supplier.street}
            </td>
        </tr>
        <tr>
            <td>
                <b><f:translate key="tx_cartproductreader_domain_model_supplier.zipcode" /></b>
            </td>
            <td>
                {supplier.zipcode}
            </td>
        </tr>
        <tr>
            <td>
                <b><f:translate key="tx_cartproductreader_domain_model_supplier.place" /></b>
            </td>
            <td>
                {supplier.place}
            </td>
        </tr>
        <tr>
            <td>
                <b><f:translate key="tx_cartproductreader_domain_model_supplier.country" /></b>
            </td>
            <td>
                {supplier.country}
            </td>
        </tr>
        <tr>
            <td>
                <b><f:translate key="tx_cartproductreader_domain_model_supplier.email" /></b>
            </td>
            <td>
                {supplier.email}
            </td>
        </tr>
        <tr>
            <td>
                <b><f:translate key="tx_cartproductreader_domain_model_supplier.telephone" /></b>
            </td>
            <td>
                {supplier.telephone}
            </td>
        </tr>
    </table>
</html>